.vs/
.git/ 
.vs
.git
/Debug/
/Debug
/CGBEmu/Debug
/CGBEmu/Debug/
/CGBEmu/.crush
/CGBEmu/.crush/
/CGBEmu/cpu_log.txt
CGBEmu/cpu_log.txt
.crush/
*.ps1
*.md
/CGBEmu/x64/Debug
/CGBEmu/x64/Debug/
/x64/Debug
/x64/Debug
